body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  font-size:20px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1046 {
  position:absolute;
  left:220px;
  top:0px;
  width:100px;
  height:50px;
  font-size:18px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1048 {
  position:absolute;
  left:320px;
  top:0px;
  width:100px;
  height:50px;
  font-size:18px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1050 {
  position:absolute;
  left:420px;
  top:0px;
  width:100px;
  height:50px;
  font-size:18px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1052 {
  position:absolute;
  left:520px;
  top:0px;
  width:100px;
  height:50px;
  font-size:18px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1054 {
  position:absolute;
  left:1186px;
  top:4px;
  width:45px;
  height:45px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056 {
  position:absolute;
  left:1250px;
  top:17px;
  width:29px;
  height:16px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1058 {
  position:absolute;
  left:1321px;
  top:17px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  position:absolute;
  left:890px;
  top:17px;
  width:132px;
  height:16px;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:909px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:909px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:446px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1064 {
  position:absolute;
  left:41px;
  top:83px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1066 {
  position:absolute;
  left:71px;
  top:133px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1068 {
  position:absolute;
  left:223px;
  top:60px;
  width:22px;
  height:22px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:268px;
  top:63px;
  width:129px;
  height:16px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1072 {
  position:absolute;
  left:71px;
  top:184px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1073 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1074 {
  position:absolute;
  left:71px;
  top:235px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1076 {
  position:absolute;
  left:71px;
  top:286px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1078 {
  position:absolute;
  left:11px;
  top:84px;
  width:20px;
  height:20px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1080 {
  position:absolute;
  left:41px;
  top:134px;
  width:20px;
  height:20px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1082 {
  position:absolute;
  left:41px;
  top:184px;
  width:20px;
  height:20px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1084 {
  position:absolute;
  left:41px;
  top:237px;
  width:20px;
  height:20px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1086 {
  position:absolute;
  left:41px;
  top:286px;
  width:20px;
  height:20px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088 {
  position:absolute;
  left:223px;
  top:143px;
  width:886px;
  height:219px;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1091 {
  position:absolute;
  left:111px;
  top:0px;
  width:101px;
  height:30px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1093 {
  position:absolute;
  left:212px;
  top:0px;
  width:101px;
  height:30px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1095 {
  position:absolute;
  left:313px;
  top:0px;
  width:101px;
  height:30px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1097 {
  position:absolute;
  left:414px;
  top:0px;
  width:101px;
  height:30px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1099 {
  position:absolute;
  left:515px;
  top:0px;
  width:101px;
  height:30px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u1101 {
  position:absolute;
  left:616px;
  top:0px;
  width:175px;
  height:30px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1103 {
  position:absolute;
  left:791px;
  top:0px;
  width:95px;
  height:30px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:100px;
}
#u1105 {
  position:absolute;
  left:0px;
  top:30px;
  width:111px;
  height:100px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:100px;
}
#u1107 {
  position:absolute;
  left:111px;
  top:30px;
  width:101px;
  height:100px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:100px;
}
#u1109 {
  position:absolute;
  left:212px;
  top:30px;
  width:101px;
  height:100px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:100px;
}
#u1111 {
  position:absolute;
  left:313px;
  top:30px;
  width:101px;
  height:100px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  word-wrap:break-word;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:100px;
}
#u1113 {
  position:absolute;
  left:414px;
  top:30px;
  width:101px;
  height:100px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:100px;
}
#u1115 {
  position:absolute;
  left:515px;
  top:30px;
  width:101px;
  height:100px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:100px;
}
#u1117 {
  position:absolute;
  left:616px;
  top:30px;
  width:175px;
  height:100px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:42px;
  width:171px;
  word-wrap:break-word;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#u1119 {
  position:absolute;
  left:791px;
  top:30px;
  width:95px;
  height:100px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:42px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:84px;
}
#u1121 {
  position:absolute;
  left:0px;
  top:130px;
  width:111px;
  height:84px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:34px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:84px;
}
#u1123 {
  position:absolute;
  left:111px;
  top:130px;
  width:101px;
  height:84px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:34px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:84px;
}
#u1125 {
  position:absolute;
  left:212px;
  top:130px;
  width:101px;
  height:84px;
}
#u1126 {
  position:absolute;
  left:2px;
  top:34px;
  width:97px;
  word-wrap:break-word;
}
#u1127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:84px;
}
#u1127 {
  position:absolute;
  left:313px;
  top:130px;
  width:101px;
  height:84px;
}
#u1128 {
  position:absolute;
  left:2px;
  top:34px;
  width:97px;
  word-wrap:break-word;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:84px;
}
#u1129 {
  position:absolute;
  left:414px;
  top:130px;
  width:101px;
  height:84px;
}
#u1130 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u1131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:84px;
}
#u1131 {
  position:absolute;
  left:515px;
  top:130px;
  width:101px;
  height:84px;
}
#u1132 {
  position:absolute;
  left:2px;
  top:34px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:84px;
}
#u1133 {
  position:absolute;
  left:616px;
  top:130px;
  width:175px;
  height:84px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:34px;
  width:171px;
  word-wrap:break-word;
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:84px;
}
#u1135 {
  position:absolute;
  left:791px;
  top:130px;
  width:95px;
  height:84px;
}
#u1136 {
  position:absolute;
  left:2px;
  top:34px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137 {
  position:absolute;
  left:268px;
  top:151px;
  width:100px;
  height:16px;
}
#u1138 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1139 {
  position:absolute;
  left:268px;
  top:215px;
  width:100px;
  height:16px;
}
#u1140 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1141 {
  position:absolute;
  left:268px;
  top:308px;
  width:100px;
  height:16px;
}
#u1142 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:70px;
}
#u1143 {
  position:absolute;
  left:747px;
  top:187px;
  width:77px;
  height:70px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:27px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:70px;
}
#u1145 {
  position:absolute;
  left:747px;
  top:281px;
  width:77px;
  height:70px;
}
#u1146 {
  position:absolute;
  left:2px;
  top:27px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1147 {
  position:absolute;
  left:1018px;
  top:308px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1149 {
  position:absolute;
  left:1066px;
  top:308px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u1150 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1151 {
  position:absolute;
  left:1010px;
  top:211px;
  width:45px;
  height:20px;
  color:#FFFFFF;
}
#u1152 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1153 {
  position:absolute;
  left:1056px;
  top:211px;
  width:45px;
  height:20px;
  color:#FFFFFF;
}
#u1154 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1155 {
  position:absolute;
  left:223px;
  top:102px;
  width:100px;
  height:25px;
  color:#FFFFFF;
}
#u1156 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1157 {
  position:absolute;
  left:345px;
  top:102px;
  width:100px;
  height:25px;
  color:#FFFFFF;
}
#u1158 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1159 {
  position:absolute;
  left:469px;
  top:102px;
  width:100px;
  height:25px;
  color:#FFFFFF;
}
#u1160 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1161 {
  position:absolute;
  left:345px;
  top:211px;
  width:81px;
  height:25px;
}
#u1161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1162 {
  position:absolute;
  left:345px;
  top:304px;
  width:81px;
  height:25px;
}
#u1162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
